# 5. Pandas

## 1.

В заданиях этого урока нам предстоит проанализировать данные об американских закусочных. Мы поищем, где можно купить тако в Калифорнии, в какие месяцы чаще всего открывали рестораны и разберем, какие есть подводные камни при работе с `pandas`.

**Описание данных:**
* `id` - уникальный идентификатор заведения
* `address` - физический адрес заведения
* `categories` - категории заведения (например, "Fast food restaurant").
* `city` - город, в котором заведение находится.
* `cuisines` - кухни, которые практикуются в заведении. Например "Mexican".
* `dateAdded` - дата добавления записи. Будем считать, что она совпадает с датой открытия заведения.
* `dateUpdated` - дата обновления информации о заведении.
* `latitude` - географическая широта.
* `longitude` - географическая долгота.
* `menus.category` - категории пищи в меню.
* `menus.currency` - валюта, в которой принимают оплату.
* `menus.dateSeen` - дата, когда было заведено это меню.
* `menus.description` - описание меню от заведения.
* `menus.name` - название меню.
* `name` - название заведения.
* `province` - область (штат), где находится заведение.

## 2.

В качестве первого шага давайте посмотрим на наши данные c помощью метода `head()`

Перечислите первые три значения колонки `dateAdded` через запятую и пробел в том порядке, в котором они были выведены. Например:

```python
2000-01-01T00:00:00Z, 2001-01-01T00:00:00Z, 2002-01-01T00:00:00Z
```

In [4]:
import pandas as pd

In [5]:
us_fastfoods = pd.read_csv("data.csv", sep=",")
us_fastfoods.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [6]:
us_fastfoods.shape

(77260, 16)

## 3.

Давайте посмотрим, какой тип имеют колонки `city` и `latitude.`

In [7]:
us_fastfoods.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

## 4.
Какие колонки будут выведены при применении метода `describe` и почему только они?

## 5.
Какие средние значения в тех колонках, которые вывел describe?

In [8]:
us_fastfoods.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

## 6.

Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.

Примените метод `dropna`. Сколько осталось записей?

In [9]:
us_fastfoods_without_na = us_fastfoods.dropna()
us_fastfoods_without_na.shape

(1925, 16)

## 7.
Отберите заведения, которые находятся в городе Калифорния (`'California'`), штат Миссури.  Укажите индексы, под которыми полученные заведения расположены в датафрейме, через запятую и пробел в порядке возрастания.

In [12]:
us_fastfoods[(us_fastfoods["city"] == "California")&(us_fastfoods["province"] == "MO")].index

Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
       52939, 65070],
      dtype='int64')

## 8.
Отберите заведения `Taco Bell` в городе Калифорния (`'California'`), штат Миссури.

In [13]:
us_fastfoods[(us_fastfoods["name"] == "Taco Bell")&(us_fastfoods["city"] == "California")&(us_fastfoods["province"] == "MO")].index

Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939], dtype='int64')

## 9.
Давайте найдем заведения `Taco Bell` или заведения, которые находятся в городе Нью-Йорк. При этом обязательно, чтобы в названии меню **не было** `Volcano Taco` и `Fresco Soft Taco` (именно таких значений колонки). Данные нужно сохранить в датафрейм `result`.

In [16]:
result = us_fastfoods[((us_fastfoods["name"] == "Taco Bell") | (us_fastfoods["city"] == "New York")) & (~(us_fastfoods["menus.name"].isin(["Volcano Taco", "Fresco Soft Taco"])))]
result.shape

(3756, 16)

## 10.
Давайте отберем заведения, где значение валюты, в которой принимают оплату, не пропущено.

In [17]:
result = us_fastfoods[~(us_fastfoods["menus.currency"].isna())]
result.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn

## 11.
Попробуйте сделать `data['categories']`, `data[['categories']]`, посмотрите на тип и на значения их элементов.

`data['categories']` выдает `Series`, `data[['categories']]` выдает `DataFrame`. В обоих случаях тип данных object

In [27]:
us_fastfoods["categories"].head()

0    Restaurant Delivery Service,Restaurants,Pizza,...
1    Restaurant Delivery Service,Restaurants,Pizza,...
2         Golf Course, American Restaurant, and Resort
3                                 Fast Food Restaurant
4    Mexican Restaurant Mid-City West,Mexican Resta...
Name: categories, dtype: object

In [28]:
us_fastfoods[["categories"]].head()

                                          categories
0  Restaurant Delivery Service,Restaurants,Pizza,...
1  Restaurant Delivery Service,Restaurants,Pizza,...
2       Golf Course, American Restaurant, and Resort
3                               Fast Food Restaurant
4  Mexican Restaurant Mid-City West,Mexican Resta...

## 12.
Напишите через запятую и пробел 5 городов с наибольшим количеством записей (в порядке убывания количества записей).

In [34]:
us_fastfoods["city"].value_counts()

city
San Diego            1924
Los Angeles          1603
Chicago              1186
San Francisco        1120
New York             1085
                     ...
Corfu                   1
Sharon Hill             1
Lawrence Township       1
Selinsgrove             1
Santa Clarita           1
Name: count, Length: 3601, dtype: int64

## 13.

Посчитайте, сколько ресторанов `Taco Bell` находится в каждом городе. Отберите 5 городов, в которых ресторан встречается чаще всего. Количество ресторанов для этих городов с их названиями сохраните в виде объекта `pd.Series` в переменную `result`.

In [44]:
result = us_fastfoods[us_fastfoods["name"] == "Taco Bell"]["city"].value_counts()[0:5]
result

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

## 14.

Давайте найдем рестораны, открытые в октябре.

В качестве ответа отправьте индексы первых пяти записей, соответствующих ресторанам, открытым в октябре (ресторан может повторяться). Ответ запишите через запятую и пробел в порядке возрастания.

Советуем вам посмотреть в сторону метода `to_datetime`.

In [48]:
us_fastfoods["dateAdded"] = pd.to_datetime(us_fastfoods["dateAdded"])
us_fastfoods[us_fastfoods["dateAdded"].dt.month == 10].index[0:5]

Index([2, 21, 22, 23, 24], dtype='int64')

## 15.

Сделайте группировку по месяцу открытия ресторана (переменная `dateAdded`). Сколько ресторанов было открыто в каждом месяце? Рассчитайте по количеству уникальных id ресторанов в каждом месяце. Значения `dateAdded` должны при этом быть индексами. Результирующий датафрейм сохраните в `result`

In [69]:
result = us_fastfoods.groupby(us_fastfoods["dateAdded"].dt.month)[["id"]].nunique()
result

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [74]:
us_fastfoods["dateUpdated"] = pd.to_datetime(us_fastfoods["dateUpdated"])

In [75]:
us_fastfoods.dtypes

id                                object
address                           object
categories                        object
city                              object
cuisines                          object
dateAdded            datetime64[ns, UTC]
dateUpdated          datetime64[ns, UTC]
latitude                         float64
longitude                        float64
menus.category                    object
menus.currency                    object
menus.dateSeen                    object
menus.description                 object
menus.name                        object
name                              object
province                          object
dtype: object

## 16.

В этом задании нужно добавить столбец `update_delta` с количеством целых дней, полученных от разницы между `dateUpdated` и `dateAdded`.

Потом для каждого города найдите (в указанном порядке):

- среднее по переменной `update_delta`

- широту самой северной закусочной (чем севернее расположена закусочная, тем больше будет значение широты)

 Названия городов не должны быть индексами. Сохраните результирующий **датафрейм** в переменную `result`.  Также сохраните в переменную `zep_mean` среднее значение `update_delta` по городу `Zephyrhills`.

In [83]:
us_fastfoods["update_delta"] = (us_fastfoods["dateUpdated"] - us_fastfoods["dateAdded"]).dt.days

In [84]:
us_fastfoods.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,114

In [88]:
result = us_fastfoods.groupby("city")[["update_delta", "latitude"]].agg({"update_delta": "mean", "latitude": "max"}).reset_index()
result

              city  update_delta   latitude
0        Abbeville    114.857143  29.982108
1         Aberdeen     81.625000  46.975110
2          Abilene    206.454545  32.453090
3         Abingdon    303.500000  36.712800
4         Abington    393.000000  40.124851
...            ...           ...        ...
3596       Zebulon      0.000000  33.102090
3597   Zephyr Cove    105.500000  38.984947
3598   Zephyrhills    329.695652  28.271183
3599  Zieglerville    621.000000  40.291611
3600    Zionsville    151.500000  39.954970

[3601 rows x 3 columns]

In [96]:
zep_mean = us_fastfoods[us_fastfoods["city"] == "Zephyrhills"]["update_delta"].mean()
zep_mean

329.69565217391306

## 17.

Отберите рестораны, у которых в колонке `categories` упоминается `Pizza`

In [101]:
us_fastfoods[us_fastfoods["categories"].str.contains("Pizza")].iloc[2]

id                                                AVwc_59U_7pvs4fz1Md3
address                                               3250 Kennedy Cir
categories           Pizza,Take Out Restaurants,Caterers,Restaurant...
city                                                           Dubuque
cuisines                                                         Pizza
dateAdded                                    2016-03-29 04:45:06+00:00
dateUpdated                                  2016-05-05 12:40:51+00:00
latitude                                                     42.505264
longitude                                                    -90.72141
menus.category                                                     NaN
menus.currency                                                     NaN
menus.dateSeen               2016-05-05T12:40:51Z,2016-03-29T04:45:06Z
menus.description                                                  NaN
menus.name                                                Taco Supreme
name                                               Falbo Bros Pizzeria
province                                                            IA
update_delta                                                        37
Name: 66, dtype: object

## 18.

В этом задании снова нужно добавить столбец `update_delta`, куда будет записана разница в днях между `dateUpdated` и `dateAdded`.  Посчитайте среднее и медиану получившейся колонки.

Перечислите значения через пробел (сначала среднее, затем медиану), округлив до 2 знаков.

In [104]:
print(round(us_fastfoods["update_delta"].mean(), 2), round(us_fastfoods["update_delta"].median(),2))

326.22 364.0

In [134]:
cat_20 = us_fastfoods[us_fastfoods["categories"].str.split(",").apply(len) > 20]

## 19.

В этом задании нужно отобрать записи, у которых более 20 категорий, далее их нужно сгруппировать по провинциям и подсчитать минимальную `longitude` в каждой. Округлите значения `longitude` до 3-х знаков после запятой.

Далее сохраните результирующий датафрейм в файл в формате csv с сепаратором `;`|. Сам датафрейм должен содержать две колонки: `province` и `longitude`

In [135]:
grouping_cat_20 = cat_20.groupby("province")[["longitude"]].min().round(3).reset_index()
grouping_cat_20

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377

In [137]:
grouping_cat_20.to_csv("new_cat_20", sep=";", index=False)